.point {
  font-family: var(--font-text);
  color: var(--text-color-alt);
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 15px;

    @media (min-width: 1024px) {
      font-size: 25px;
    }
  }
}
