.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  vertical-align: baseline;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    align-items: center;
  }

  .header-nav__img-container {
    .header-nav__logo-img {
      width: 52px;
    }
  }

  .header-nav__menu {
    display: flex;
    flex-direction: column;
    font-weight: bold;

    @media (min-width: 600px) {
      flex-direction: row;
      justify-content: space-around;
      flex: 1;
    }

    .header-nav__link {
      color: var(--text-color-main);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
