.designer-jewelry {
  background: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)),
    url(../img/desigher-jewelry.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 20px;
  min-height: 350px;
  display: flex;

  .designer-jewelry__content {
        text-align: left;

      .youth-collection__subtitle {
        font-family: var(--font-text);
        font-size: 75px;
        font-weight: bold;
      }

      youth-collection__desc {
      }

      designer-jewelry__list{

        .designer-jewelry__item{
          
        }
      }
    }
  }

